In [17]:
import pandas as pd
import json

In [18]:
file = "bis"
# Load your CSV
df = pd.read_excel(f"data/{file}.xlsx",sheet_name='data')

In [19]:
df.rename(columns={'Whole_Saler':'A'},inplace=True)

In [20]:
df['Name_of_Route'] = df['Name_of_Route'].fillna('N/A').astype(str)
df['TGT1'] = df['TGT'].fillna(0)
df['TGT'] = df['TGT'].astype(str)

In [21]:
df['Whole_Saler'] = df["A"]+"_( "+df["Name_of_Route"] + " )" + "| Target = " +df['TGT']+ " |"

In [22]:
df.sort_values(by=['State','Name_of_SS','Name_of_DB'],inplace=True)

In [23]:
df.head(5)

,State,Id,Name_of_SS,db_id,Name_of_DB,A,Name_of_Route,AVG_BIS,TGT,Password,check,TGT1,Whole_Saler
967,Mumbai,968,J K BROTHERS,54,BALWANT & CO,JANTA WHOLESALE,SANGAM NAGAR,10,10,5694,JANTA WHOLESALE_SANGAM NAGAR,10,JANTA WHOLESALE_( SANGAM NAGAR )| Target = 10 |
968,Mumbai,969,J K BROTHERS,54,BALWANT & CO,POOJA WHOLESALE,SANGAM NAGAR,10,10,5694,POOJA WHOLESALE_SANGAM NAGAR,10,POOJA WHOLESALE_( SANGAM NAGAR )| Target = 10 |
969,Mumbai,970,J K BROTHERS,54,BALWANT & CO,SHITLA MATA,GTB NAGAR,10,10,5694,SHITLA MATA_GTB NAGAR,10,SHITLA MATA_( GTB NAGAR )| Target = 10 |
970,Mumbai,971,J K BROTHERS,54,BALWANT & CO,P. JAISWAL,WADALA,10,10,5694,P. JAISWAL_WADALA,10,P. JAISWAL_( WADALA )| Target = 10 |
971,Mumbai,972,J K BROTHERS,54,BALWANT & CO,MUKESH SOLANKI,WADALA,10,10,5694,MUKESH SOLANKI_WADALA,10,MUKESH SOLANKI_( WADALA )| Target = 10 |

In [24]:

# Create nested dictionary with password at DB level
nested = {}

for _, row in df.iterrows():
    state = row['State']
    ss = row['Name_of_SS']
    db = row['Name_of_DB']
    ws = row['Whole_Saler'] # Whole_Saler
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    db_dict = ss_dict.setdefault(db, {"password": pwd, "wholesalers": []})

    db_dict["wholesalers"].append(ws)

# Save
with open(f"data/{file}.json", "w") as f:
    json.dump(nested, f, indent=4)